.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pathSelector {
    margin-bottom: 20px;
}

.pathButton {
    font-size: 1.2em;
}

.randomButton {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #2196F3, #87CEFA);
    color: white;
    text-shadow: #00BFFF 1px 1px 0px;
    font-weight: 800;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.1s;
}

.randomButton:hover {
    background: linear-gradient(45deg, #1E90FF, #00BFFF);
}

.randomButton:active {
    transform: scale(0.95);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 10px;
    justify-content: center;
    width: 100%;
    position: relative;
}

.imageContainer {
    position: relative;
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: filter 0.3s;
}

.imageContainer.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 255, 0.3);
}

.image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2196F3;
    font-size: 3em;
    z-index: 1;
    opacity: 0;
    animation: appear 0.5s forwards;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}